//variables fonts
$fontfamily:'Encode Sans', sans-serif;
$xs: 16px;
$small: 20px;
$med: 40px;
$large:60px;
$xl: 80px;

//Altura
$margin-header:110px;

//colores
$green: #a6c88c;
$violeta: #37053b;
$darker-green: #8fac7a;
$light-green:#acbe9ee5;

//mixin
@mixin size ($ancho, $altura){
    width:$ancho;
    height:$altura;
}

//reseteo//
*{
    margin:0;
    padding:0;
    font-size:16px;
    line-height: 2.0;
    font-family: $fontfamily;
    box-sizing: border-box;
}

//index//
//desktop//
@media only screen and (min-width: 1200px){
    .navbar{
        width: 100%;
    }
}

@media only screen and (min-width:576px) and (max-width:990px) {
    #navbarSupportedContent{
        background-color: $light-green;
}

    #carouselExampleIndicators{
        .carousel-inner{
            height: auto;
        }
        
    }
    
}


//small smartphone//
@media only screen and (min-width:320px) and (max-width:480px){

//footer de bs//
.f-listas{
    .f-enlaces{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .f-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }
    .f-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}
//fin footer de bs//

//carrousel//
    #carouselExampleIndicators{
        .carousel-inner{
            height: auto;
        }
    
    }

//continua (min-width:320px) and (max-width:480px)//
//noticias index//
#noticias{
    
    display: grid;
    @include size(100%, 300vh);
    
    grid-template-areas: "titulo"
    "festejo" 
    "teatro"
    "radio"
    "robles";
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;

    .divFestejo{
        grid-area: festejo;
        display: flex;
        flex-direction: column;
        .videoFestejo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            iframe{
                @include size (330px, 200px)
            }
        }
        .textoFestejo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 300px;
        }
    }

    .noticiaDiv{
        display: flex;
        border-bottom: 1.5px solid rgb(212, 207, 207);
    }
    

    .noticiaTeatro{
	    grid-area: teatro;
	    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fotoTeatro{
            width: 50%;
            img{
                object-fit: contain;
            }
        }
        .teatroTexto{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }            
        
    .noticiaRadio{
        grid-area: radio;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .audioRadio{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

        }        
    
        .radioTexto{
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }    

    .noticiaRobles{
        grid-area: robles;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            .fotoRobles{
                display: flex;
                width: 50%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .fotoRobles img{
                    @include size(340px,210px);
                    object-fit: contain;
                }
            } 
            .textoRobles{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;             
            }         
    }
    
}
//fin noticias index//

//nav bar dropdown//
    #navbarSupportedContent{
        background-color: $light-green;
            .nav-item{
                margin: 2px;
            
        }
    }



//info talleres medida mas chica//
    #pag-talleres{
        @include size(100%, auto );
        
        .info-taller{
        @include size (100%, 160vh);
            display: flex;
            flex-direction: column;
            margin: 20px;
                div{
                    img{
                        @include size(200px,200px);
                        margin: 10px;
                    }
                }

                div{
                    width: 80%;

                        p{
                            width: 100%;
                            font-size: $small;
                        }
                }       
        }
    }
//contacto (min-width:320px) and (max-width:480px)//

    .contacto{
        width: 100%;
        height: 130vh;
            .contacto_div{
                @include size (80%, auto);
                align-self: center;
                    label, input{
                        display: block;
                    }  
            }
    } 

//nosotros >480//
    #sectionUs{
        .usIndex{
            height: 70vh;  

            .dondeHabita{
                @include size(70%,auto);

            }
        
        }
        .parrafoUs{
            width: 85%;
        }
        img{
            @include size( 350px,200px );
        }
    }
//galeria >480//
#mainGaleria{
    .galeriaTexto{
        h4{
            span{
                font-size: 6vh;
            }
        }
    }
    #galeria{
        @include size (100%, 300vh);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9, 1fr);
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;
            .fotoGaleria{
                @include size (250px, auto);
                justify-self: center;
                align-self: center;
    
            }
    }
}

}




//tablet en vertical//
@media  (min-width:768px) and (max-width:1023px){
    #noticias{
        .divFestejo{
            .videoFestejo{
                iframe{
                    @include size (320px, 190px);
                }

            }
        }

    .audioRadio{
        audio{
                    
            @include size(100px,50px);        
        }
    }    
    }
//galeria (min-width:768px) and (max-width:1023px)//
#mainGaleria{
    height: auto;
    
    #galeria{
        @include size (100%, 100vh);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        .fotoGaleria{
            @include size (250px, 250px);
            justify-self: center;
            align-self: center;
                img{
                    @include size (250px, 250px);
                    object-fit: cover;
                    justify-self: center;
                    align-self: center;
            }
                
            
        }
    }

    .galeriaTexto{
        h4{
            width: 500px;

        }
    }
}
//contacto (min-width:768px) and (max-width:1023px)//
.contacto{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $margin-header;
        .contacto_div{
            @include size (65%, auto);
            align-self: center;
        }
} 

//carrousel//
    #carouselExampleIndicators{
        .carousel-inner{
            height: auto;
        }
    
    }

//Nav Bar Collaps//    
    header{

        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    margin: 5px;   
                }
                .dropdown-menu{
                    overflow-y: scroll;
                        li{
                            margin:2px;
                    }
                }
            }
        }
    }
    
    

}



//tables pequeñas//
@media only screen and (min-width:481px) and (max-width:767px){
    #noticias{
        display: grid;
    @include size(100%, 300vh);
    
    grid-template-areas: "titulo"
    "festejo" 
    "teatro"
    "radio"
    "robles";
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;

    }
    .navbar-collapse{
        background-color: $light-green;
                .nav-item{
                    margin: 2px;
                }
        }

//galeria//

    #mainGaleria{
        #galeria{
            @include size (100%, 150vh);
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows: repeat(5, 1fr);
            margin-bottom: 20px;
            justify-content: center;
            align-items: center;
            .fotoGaleria{
                @include size (250px, auto);
                justify-self: center;
                align-self: center;
                    img{
                        @include size (200px, 200px);
                    }
            }
        }
    
    }
//info talleres//
    #pag-talleres{
        @include size(100%, 300vh );
        .info-taller{
            @include size (100%, 90vh);
            display: flex;
            flex-direction: ro2;
            align-items: center;
            justify-content: center;

                div{
                    img{
                        @include size(200px,200px);
                        margin: 10px;
                    }
                }

                div{
                    width: 80%;
                    p{
                        width: 100%;
                        font-size: 20px;
                    }
                }       
        }
    }
//contacto//

.contacto{
    width: 100%;
    height: 100vh;
        .contacto_div{
            margin-top: 50px;
            @include size (60%, 95%);
            align-self: center;
            label, input{
                margin:1px ;

            }  
        }
}

//nosotros//
    #sectionUs{
        .usIndex{
            height: 70vh;    
                .dondeHabita{
                    @include size(auto, auto);
                }
        }

        img{
            @include size( 450px,300px );
        }
    }

    .f-listas{
        .f-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        .f-info{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .f-enlaces{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }    
//carrousel//
    #carouselExampleIndicators{
        .carousel-inner{
            height: auto;
        }
    
    }

}





// Large devices (desktops, 992px and up)






