//fuentes
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400&family=Raleway:wght@400;600&display=swap');

//variables fonts
$fontfamily:'Encode Sans', sans-serif;
$xs: 16px;
$small: 20px;
$med: 40px;
$large:60px;
$xl: 80px;

//Altura
$margin-header:110px;


//colores
$green: #a6c88c;
$violeta: #37053b;
$darker-green: #8fac7a;
$light-green:#acbe9ee5;

//mixin
@mixin size ($ancho, $altura){
    width:$ancho;
    height:$altura;
}

*{
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 2.0;
    box-sizing: border-box;
}

//bck talleres//
$bg-tango:#e1ce8a;
$bg-radioteatro:#a6c88c;
$bg-musica:#80bc96;



main{
    @include size (100%, auto);
    font-family: $fontfamily;
}



@each $talleres in plastica, tango, radioteatro, musica, radio{
    .info-#{$talleres}{
        @include size (100%, 75vh);
        margin-top: $margin-header;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                @include size (400px, 400px);
                border-radius: 100%;
                box-shadow: 0px 0px 10px black;
                animation-name: talleres-img;
                animation-iteration-count: initial;
                animation-timing-function: ease-in;
                animation-duration: 2s;

            }        
        }
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h4{
                align-items: center;
            }
            p{  
                text-align: justify;
                width: 80%;
                border-bottom: 1px solid black;
                padding: 15px;                
            }
        }

}
}

.info-taller:hover{
    background-color: rgba(219, 217, 217, 0.568);
    @include size (100%, 75vh);
}

//Animacion//

@keyframes talleres-img{
    0% {
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}

