@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400&family=Raleway:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400&family=Raleway:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  font-family: "Encode Sans", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Encode Sans", sans-serif;
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a6c88c;
  position: fixed;
  top: 0px;
  z-index: 2;
}
header .logo {
  width: 90px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  display: inline;
  text-decoration: none;
  margin: 5vh;
  font-size: 20px;
}
header ul li .dropdown-menu a {
  text-align: center;
}
header .menu {
  display: flex;
  align-items: center;
}
header .menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  font-family: "Encode Sans", sans-serif !important;
}
header .navbar {
  width: 100%;
  background-color: rgba(166, 200, 140, 0.6980392157);
  height: 100px;
}
header .navbar-toggler {
  background-color: #a6c88c;
}
header .nav-item {
  text-align: center;
}
header .logo-nav {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  border-radius: 2px solid black;
  margin-left: 10px;
}

.nav-item a:hover {
  background-color: #8fac7a;
  text-align: center;
  border-radius: 5px;
}

.menu a:hover {
  color: #fdfdfa;
  text-decoration: underline;
  font-weight: 600;
  text-shadow: 1vh 1vh 5vh #37053b;
}

.carousel {
  width: 100%;
  height: auto;
  margin-top: 110px;
}

.main-nosotros {
  width: 100%;
  height: 400px;
  background-color: #e1ce8a;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-nosotros p {
  text-align: justify;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.talleres {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.talleres .card {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  margin: 30px;
  text-align: center;
  box-shadow: 1.5vh 1.5vh 1.5vh rgba(204, 201, 201, 0.671);
  transition: transform 2s;
}
.talleres .card article p {
  width: 45vh;
  align-self: center;
}
.talleres .card article img {
  width: 220px;
  height: 220px;
  border-radius: 70%;
}

.card:hover {
  background-color: rgba(166, 200, 140, 0.7058823529) !important;
  box-shadow: 2vh 2vh 2vh rgba(180, 175, 175, 0.918);
  transform: scale(1.2);
}

#noticias {
  display: grid;
  width: 100%;
  height: 140vh;
  grid-template-areas: "titulo titulo" "festejo teatro" "festejo radio" "festejo robles";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr 1fr 1fr;
}
#noticias .tituloNoticias {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
}
#noticias .tituloNoticias h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width: 200px;
  text-transform: capitalize;
}
#noticias .parrafoNoticia {
  width: 80%;
  text-align: justify;
  line-height: 1.5;
}
#noticias .divFestejo {
  grid-area: festejo;
  display: flex;
  flex-direction: column;
}
#noticias .divFestejo .videoFestejo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#noticias .divFestejo .textoFestejo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
#noticias .noticiaDiv {
  display: flex;
  border-bottom: 1.5px solid rgb(212, 207, 207);
}
#noticias .noticiaTeatro {
  grid-area: teatro;
  display: flex;
}
#noticias .noticiaTeatro .fotoTeatro {
  width: 50%;
}
#noticias .noticiaTeatro .fotoTeatro img {
  width: 340px;
  height: 210px;
}
#noticias .noticiaTeatro .teatroTexto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#noticias .noticiaRadio {
  grid-area: radio;
  display: flex;
}
#noticias .noticiaRadio .audioRadio {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#noticias .noticiaRadio .audioRadio img {
  width: 340px;
  height: 210px;
  object-fit: cover;
}
#noticias .noticiaRadio .radioTexto {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#noticias .noticiaRobles {
  grid-area: robles;
  display: flex;
}
#noticias .noticiaRobles .fotoRobles {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#noticias .noticiaRobles .fotoRobles .fotoRobles img {
  width: 340px;
  height: 210px;
}
#noticias .noticiaRobles .textoRobles {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divDivisor {
  background-image: url(img/paleta-nuvemshop-37ab98.png);
  width: 100%;
  height: 2vh;
  background-position: cover;
  margin-top: 50px;
  margin-bottom: 20px;
}

footer .f-enlaces li {
  list-style-type: none;
}
footer .f-enlaces li a {
  text-decoration: none;
  color: black;
}
footer .f-enlaces li a a:hover {
  color: cadetblue;
  text-shadow: 2px 2px 10px #8fac7a;
}
footer .f-info li {
  list-style-type: none;
}
footer .f-info li a {
  color: black;
  text-decoration: none;
}
footer .f-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .f-redes img {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 10px;
}

footer {
  width: 100%;
  height: auto;
}
footer .footerListas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;
}
footer .footerListas a {
  text-decoration: none;
  color: black;
}
footer .footerListas .lista_1 li {
  list-style-type: none;
}
footer .footerListas .lista_2 li {
  list-style-type: none;
  text-decoration: none;
}
footer .logo_muni img {
  border-radius: 5%;
  transition: transform 1s;
}
footer .logosFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10vh;
}
footer .logosFooter img {
  width: 30px;
  height: 30px;
  display: flex;
  margin: 10px;
}

.logo_muni img:hover {
  transform: scale(1.1, 1.1);
}

.footerListas a:hover {
  text-shadow: 0px 0px 10px black;
}

.f-info a:hover {
  color: cadetblue;
  text-shadow: 2px 2px 10px #8fac7a;
}

.f-enlaces a:hover {
  color: cadetblue;
  text-shadow: 2px 2px 10px #8fac7a;
}

.main-nosotros {
  width: 100%;
  height: 500px;
  background-color: #e1ce8a;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icono_wsp {
  position: fixed;
  right: 30px;
  top: 150px;
  animation-name: icono_wsp;
  animation-iteration-count: initial;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-delay: 0s;
  transition: transform 1s;
  border-radius: 100%;
  z-index: 3;
  width: 60px;
  height: 60px;
}
.icono_wsp img {
  width: 60px;
  height: 60px;
}

.icono_wsp:hover {
  transform: scale(1.25, 1.25);
  box-shadow: 0px 0px 5px black;
}

@keyframes icono_wsp {
  0% {
    transform: translatey(-200px);
    opacity: 0%;
  }
  40% {
    transform: translatey(0px);
    opacity: 100%;
  }
  45% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(0px);
  }
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  box-sizing: border-box;
}

#sectionUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sectionUs .usIndex {
  background-image: url(img/RadioTeatro_foto1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  justify-content: center;
  align-items: center;
}
#sectionUs .usIndex .dondeHabita {
  width: 70%;
  height: 250px;
  background-color: rgba(250, 235, 215, 0.548);
  text-align: center;
  border-radius: 5px;
  border: 2px solid wheat;
}
#sectionUs .usIndex .dondeHabita h3 {
  font-size: 60px !important;
  color: #fdfdfa;
  font-family: "raleway", sans-serif;
  text-shadow: 5px 5px 2px black;
}
#sectionUs .parrafoUs {
  width: 60%;
  height: auto;
  justify-content: center;
  margin: 20px;
  font-family: "Encode Sans", sans-serif;
  text-align: justify;
}
#sectionUs img {
  width: 650px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}
#sectionUs h3 {
  font-size: 30px;
  margin: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  font-family: "Encode Sans", sans-serif;
  box-sizing: border-box;
}

#mainGaleria {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainGaleria .galeriaTexto {
  width: 50%;
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
#mainGaleria .galeriaTexto h4 {
  width: 600px;
  font-size: 50px;
  font-weight: bolder;
  color: black;
  border-bottom: 3px solid black;
  text-decoration: none;
}
#mainGaleria .galeriaTexto h4 span {
  font-weight: 100;
  font-size: 8vh;
  color: black;
  text-decoration: none;
}
#mainGaleria #galeria {
  width: 100%;
  height: 130vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 30px;
  align-content: center;
  justify-content: center;
}
#mainGaleria #galeria .fotoGaleria {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
#mainGaleria .fotoGaleria img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 5px 5px 10px black;
  overflow: hidden;
  transition: all 1.5s;
  margin: 5px;
}
#mainGaleria .fotoGaleria img:hover {
  transform: scale(1.6);
  filter: grayscale(1.5);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  box-sizing: border-box;
}

.contacto {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13vh;
}
.contacto .contacto_div {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(82, 80, 80);
  background-color: #f4f5f7;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(184, 181, 181);
}
.contacto .contacto_div h3 {
  margin: 20px;
  font-size: 25px;
}
.contacto .contacto_div form {
  justify-content: center;
}
.contacto .contacto_div form label, .contacto .contacto_div form input {
  margin: 2px;
}

.botonConsulta {
  padding: 5px;
  margin: 10px;
  background-color: rgb(214, 209, 209);
  border-radius: 5px;
}

.botonConsulta:hover {
  background-color: #8fac7a;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: auto;
  font-family: "Encode Sans", sans-serif;
}

.info-plastica {
  width: 100%;
  height: 75vh;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-plastica div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-plastica div img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
}
.info-plastica div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-plastica div h4 {
  align-items: center;
}
.info-plastica div p {
  text-align: justify;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 15px;
}

.info-tango {
  width: 100%;
  height: 75vh;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-tango div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-tango div img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
}
.info-tango div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-tango div h4 {
  align-items: center;
}
.info-tango div p {
  text-align: justify;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 15px;
}

.info-radioteatro {
  width: 100%;
  height: 75vh;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-radioteatro div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-radioteatro div img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
}
.info-radioteatro div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-radioteatro div h4 {
  align-items: center;
}
.info-radioteatro div p {
  text-align: justify;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 15px;
}

.info-musica {
  width: 100%;
  height: 75vh;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-musica div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-musica div img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
}
.info-musica div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-musica div h4 {
  align-items: center;
}
.info-musica div p {
  text-align: justify;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 15px;
}

.info-radio {
  width: 100%;
  height: 75vh;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-radio div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-radio div img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
}
.info-radio div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-radio div h4 {
  align-items: center;
}
.info-radio div p {
  text-align: justify;
  width: 80%;
  border-bottom: 1px solid black;
  padding: 15px;
}

.info-taller:hover {
  background-color: rgba(219, 217, 217, 0.568);
  width: 100%;
  height: 75vh;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
  font-family: "Encode Sans", sans-serif;
  box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
  .navbar {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 990px) {
  #navbarSupportedContent {
    background-color: rgba(172, 190, 158, 0.8980392157);
  }
  #carouselExampleIndicators .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .f-listas .f-enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f-listas .f-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  .f-listas .f-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  #carouselExampleIndicators .carousel-inner {
    height: auto;
  }
  #noticias {
    display: grid;
    width: 100%;
    height: 300vh;
    grid-template-areas: "titulo" "festejo" "teatro" "radio" "robles";
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
  }
  #noticias .divFestejo {
    grid-area: festejo;
    display: flex;
    flex-direction: column;
  }
  #noticias .divFestejo .videoFestejo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #noticias .divFestejo .videoFestejo iframe {
    width: 330px;
    height: 200px;
  }
  #noticias .divFestejo .textoFestejo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  #noticias .noticiaDiv {
    display: flex;
    border-bottom: 1.5px solid rgb(212, 207, 207);
  }
  #noticias .noticiaTeatro {
    grid-area: teatro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #noticias .noticiaTeatro .fotoTeatro {
    width: 50%;
  }
  #noticias .noticiaTeatro .fotoTeatro img {
    object-fit: contain;
  }
  #noticias .noticiaTeatro .teatroTexto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #noticias .noticiaRadio {
    grid-area: radio;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #noticias .noticiaRadio .audioRadio {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  #noticias .noticiaRadio .radioTexto {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #noticias .noticiaRobles {
    grid-area: robles;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #noticias .noticiaRobles .fotoRobles {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #noticias .noticiaRobles .fotoRobles .fotoRobles img {
    width: 340px;
    height: 210px;
    object-fit: contain;
  }
  #noticias .noticiaRobles .textoRobles {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #navbarSupportedContent {
    background-color: rgba(172, 190, 158, 0.8980392157);
  }
  #navbarSupportedContent .nav-item {
    margin: 2px;
  }
  #pag-talleres {
    width: 100%;
    height: auto;
  }
  #pag-talleres .info-taller {
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  #pag-talleres .info-taller div img {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  #pag-talleres .info-taller div {
    width: 80%;
  }
  #pag-talleres .info-taller div p {
    width: 100%;
    font-size: 20px;
  }
  .contacto {
    width: 100%;
    height: 130vh;
  }
  .contacto .contacto_div {
    width: 80%;
    height: auto;
    align-self: center;
  }
  .contacto .contacto_div label, .contacto .contacto_div input {
    display: block;
  }
  #sectionUs .usIndex {
    height: 70vh;
  }
  #sectionUs .usIndex .dondeHabita {
    width: 70%;
    height: auto;
  }
  #sectionUs .parrafoUs {
    width: 85%;
  }
  #sectionUs img {
    width: 350px;
    height: 200px;
  }
  #mainGaleria .galeriaTexto h4 span {
    font-size: 6vh;
  }
  #mainGaleria #galeria {
    width: 100%;
    height: 300vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  #mainGaleria #galeria .fotoGaleria {
    width: 250px;
    height: auto;
    justify-self: center;
    align-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #noticias .divFestejo .videoFestejo iframe {
    width: 320px;
    height: 190px;
  }
  #noticias .audioRadio audio {
    width: 100px;
    height: 50px;
  }
  #mainGaleria {
    height: auto;
  }
  #mainGaleria #galeria {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  #mainGaleria #galeria .fotoGaleria {
    width: 250px;
    height: 250px;
    justify-self: center;
    align-self: center;
  }
  #mainGaleria #galeria .fotoGaleria img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    justify-self: center;
    align-self: center;
  }
  #mainGaleria .galeriaTexto h4 {
    width: 500px;
  }
  .contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
  }
  .contacto .contacto_div {
    width: 65%;
    height: auto;
    align-self: center;
  }
  #carouselExampleIndicators .carousel-inner {
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #noticias {
    display: grid;
    width: 100%;
    height: 300vh;
    grid-template-areas: "titulo" "festejo" "teatro" "radio" "robles";
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
  }
  .navbar-collapse {
    background-color: rgba(172, 190, 158, 0.8980392157);
    overflow: scroll;
  }
  .navbar-collapse .nav-item {
    margin: 2px;
  }
  #mainGaleria #galeria {
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  #mainGaleria #galeria .fotoGaleria {
    width: 250px;
    height: auto;
    justify-self: center;
    align-self: center;
  }
  #mainGaleria #galeria .fotoGaleria img {
    width: 200px;
    height: 200px;
  }
  #pag-talleres {
    width: 100%;
    height: 300vh;
  }
  #pag-talleres .info-taller {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: ro2;
    align-items: center;
    justify-content: center;
  }
  #pag-talleres .info-taller div img {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  #pag-talleres .info-taller div {
    width: 80%;
  }
  #pag-talleres .info-taller div p {
    width: 100%;
    font-size: 20px;
  }
  .contacto {
    width: 100%;
    height: 100vh;
  }
  .contacto .contacto_div {
    margin-top: 50px;
    width: 60%;
    height: 95%;
    align-self: center;
  }
  .contacto .contacto_div label, .contacto .contacto_div input {
    margin: 1px;
  }
  #sectionUs .usIndex {
    height: 70vh;
  }
  #sectionUs .usIndex .dondeHabita {
    width: auto;
    height: auto;
  }
  #sectionUs img {
    width: 450px;
    height: 300px;
  }
  .f-listas .f-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .f-listas .f-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .f-listas .f-enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #carouselExampleIndicators .carousel-inner {
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
